
<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]--><!--[if IE 8]><html class="no-js lt-ie9"><![endif]--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Css Modal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="../public/css/main.css">
    </head>
    <body>

        <div class="wrapper">
            
        <h1>CSS only modals</h1>

        <h2>Example 1</h2>

            <a href="#one">Modal one - This works quite well.</a>
             <section class="modal-section" id="one">
                <a href="#" class="close-button icon-close" tabindex="2"></a>
                    <p>Put some stuff for the modal here</p>
            </section>

        <h2>Example 2 - Not so good. Purely for demo purposes.</h2>
             <a class="modal-launcher" tabindex="1">   
                Click here to open
                 <div class="modal">
                     <span class="close-button icon-close" tabindex="2"></span>
                    <p>Put some stuff for the modal here</p>
                </div>
            </a>
        </div>

        <script src="../public/dist/prod.js"></script>

      
    </body>
</html>